@model FashionShops.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <img class="img-login" src="~/Content/images/Register-Image.jpg" alt="" style="height: 100%">
        </div>
        @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { id = "form_register" }))
        {
            @Html.AntiForgeryToken()
            <h3>Register</h3>
            <div class="form-holder active-login">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control-login", placeholder = "username", name = "username", id = "username" } })
                @Html.ValidationMessageFor(model => model.username, null, new { @style = "color: red; font-style: italic;" })
            </div>
            <div class="form-holder">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control-login", placeholder = "email", name = "email", id = "email" } })
                @Html.ValidationMessageFor(model => model.email, null, new { @style = "color: red; font-style: italic;" })
            </div>
            <div class="form-holder">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control-login", placeholder = "password", name = "password", id = "password", type = "password" } })
                @Html.ValidationMessageFor(model => model.password, null, new { @style = "color: red; font-style: italic;" })
            </div>
            <div class="form-holder">
                @Html.EditorFor(model => model.confirmpassword, new { htmlAttributes = new { @class = "form-control-login", placeholder = "confirm password", name = "confirmpassword", id = "confirmpassword", type = "password" } })
                @Html.ValidationMessageFor(model => model.confirmpassword, null, new { @style = "color: red; font-style: italic;" })
            </div>
            @Html.ValidationSummary(true, null, new { @class = "font-italic", @style = "color: red" })
            <div class="form-login">
                <button type="submit" data-href="/Register/Register" class="button-login" id="btn-login">Register</button>
                <p>You already have account?<a href="/Login/showFormLogin" class="link-login">Sign in</a></p>
            </div>
        }
    </div>
</div>
<div id="notLoginInCart" hidden>@ViewBag.NotLogin</div>
<div id="RegisterFail" hidden>@ViewBag.Account</div>


@section Register{
    <link rel="stylesheet" type="text/css" href="~/Content/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/login.css">
    <script src="~/Content/js/register.js"></script>
    <script>
        let messageA = $('#RegisterFail').text();
        if (messageA !== "") {
            toastr.error(messageA);
        }
    </script>
}

