@model FashionShops.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
<div class="container">
    <div class="main-body" style="margin-top:200px;">
        <!-- /Breadcrumb -->
        <div id="profile">
            @using (Html.BeginForm("UpdateProfile", "Profile", FormMethod.Post, new { @class = "row gutters-sm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.user_id)
                @Html.HiddenFor(model => model.username)
                @Html.HiddenFor(model => model.password)
                @Html.HiddenFor(model => model.admin)
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                                     width="150">
                                <div class="mt-3">
                                    <h4>@Model.firstName @Model.lastName</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">First Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form_input", name = "firstname", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.firstName, null, new { @style = "color: red; font-style: italic;" })
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Last Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form_input", name = "lastname", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.lastName, null, new { @style = "color: red; font-style: italic;" })
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form_input", name = "email", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.email, null, new { @style = "color: red; font-style: italic;" })
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Country</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form_input", name = "country", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.country, null, new { @style = "color: red; font-style: italic;" })
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form_input", name = "phonenumber", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.phoneNumber, null, new { @style = "color: red; font-style: italic;" })
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form_input", name = "address", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.address, null, new { @style = "color: red; font-style: italic;" })
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Province</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    @Html.EditorFor(model => model.province, new { htmlAttributes = new { @class = "form_input", name = "province", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.province, null, new { @style = "color: red; font-style: italic;" })
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">City</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form_input", name = "city", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.city, null, new { @style = "color: red; font-style: italic;" })
                                </div>
                            </div>
                            <hr>
                            @Html.ValidationSummary(true, null, new { @style = "color: red; font-style: italic;" })
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        <a class="btn btn-info" id="btn_edit"
                                           href="#">Edit</a>
                                        <button type="submit" class="btn btn-success" id="btn_save" target="__blank" data-userid="@Model.user_id" hidden>
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section Profile  {
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/contact_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/contact_responsive.css">
    <script src="~/Content/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Content/js/contact_custom.js"></script>
    <script>
        $(document).on('click', '#btn_edit', function (ele) {
            ele.preventDefault();
            $(this).attr('hidden', true);
            $('#btn_save').attr('hidden', false);
            $('.form_input').each(function () {
                $(this).attr('readonly', false);
            });
        });


    </script>
}
