@{
    @model FashionShops.Models.CartForModal.AllNeedsForModal
}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <div class="col-4">
                <img style="width: 100%; height: 230px;" src="@Model.infProduct[0].urlImage" alt="">
            </div>
            <div class="col-7">
                <h5 class="modal-title" id="exampleModalLongTitle">@Model.infProduct[0].productName</h5>
                <p class="modal-title">
                    @{
                        double productPrice = Model.infProduct[0].productPrice;
                        double tempPrice = productPrice * 0.2 + productPrice;
                    }
                    <span class="old_price" style="text-decoration: line-through">&#8363;@tempPrice</span>
                    <span class="new_price">&#8363;<span id="product-price">@Model.infProduct[0].productPrice</span></span>
                </p>
                <p class="modal-tittle">@Model.currentQuantity products left</p>
            </div>
            <div class="col-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <form action="#" method="post">
                <input type="number" name="productId" value="@Model.infProduct[0].productID" hidden>
                <div class="form-group mb-3">
                    <label class="form-label">Color</label>
                    <div>
                        @foreach (var color in Model.colorsProduct)
                        {
                            if (color.colorID == Model.colorActive)
                            {
                                <div class="btn btn-outline-dark color-checkbox active-custom">@color.colorName</div>
                                <input type="radio" name="proColor" id="" class="color-checkbox-value @color.colorName" hidden value="@color.colorID"
                                       checked>
                                continue;
                            }
                            <div class="btn btn-outline-dark color-checkbox">@color.colorName</div>
                            <input type="radio" name="proColor" id="" class="color-checkbox-value @color.colorName" hidden value="@color.colorID">

                        }
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Size</label>
                    <div>
                        @foreach (var size in Model.sizesProduct)
                        {
                            if (size.sizeID == Model.sizeActive)
                            {
                                <div href="" class="btn btn-outline-dark size-checkbox active-custom">@size.sizeName</div>
                                <input type="radio" name="proSize" id="" class="size-checkbox-value @size.sizeName" hidden value="@size.sizeID"
                                       checked>
                                continue;
                            }
                            <div href="" class="btn btn-outline-dark size-checkbox">@size.sizeName</div>
                            <input type="radio" name="proSize" id="" class="size-checkbox-value @size.sizeName" hidden value="@size.sizeID">
                        }
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Quantity</label>
                    <div class="quantity-container">
                        <button class="btn-input decrease" data-cartid="272" data-act="decrease">-</button>
                        <input type="number" name="quantity" id="272" value="@Model.infProduct[0].productQuantiyInCart" min="1" max="999" readonly />
                        <button class="btn-input increase" data-cartid="272" data-act="increase">+</button>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-success" id="submitformfrommodal" data-cartid="@Model.cartID">Save</button>
            </form>
        </div>
    </div>
</div>