
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model List<FashionShops.Models.CartView>
}

<div class="container " style="margin-top: 180px" id="cart-list">
    <div class="container">
        @foreach (var item in Model)
            {
                <div class="card mb-3 card_product_in_cart">
                    <div class="row no-gutters">
                        <div class="col-1 d-flex justify-content-between align-items-center">
                            <input type="checkbox" name="checked_product" id="flexCheckDefault" class="">
                        </div>
                        <div class="col-4">
                            <img src="@item.productImage" id="main-img" class="card-img" alt="..." style="height: 100%; width: 100%;">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title">@item.productName</h5>
                                <input type="text" name="id" hidden value="2">
                                <label for="size" class="form-label" style="font-weight: 700;">Classify:</label>
                                <a href="#" type="button" class="btn-outline-dark form-control d-flex justify-content-between update_info_product">
                                    <span class="classify" id="classify">Classify: @item.productColor, @item.productSize</span>
                                    <span><i class="fa fa-chevron-down"></i></span>
                                </a>
                                <p class="card-text">
                                    <span class="old_price" style="text-decoration: line-through">&#8363;(@item.productPrice + 100000)</span>
                                    <span class="new_price">&#8363;@item.productPrice</span>
                                </p>
                                <input class="quantity" type="number" name="update_quantity"
                                       value="@item.proudctQuantity" min="1" max="100">
                                <p class="card-text"><small class="text-muted">54 products left</small></p>
                            </div>
                        </div>
                        <div class="col-1 d-flex justify-content-between align-items-center">
                            <a class="btn btn-outline-danger btn-sm"
                               href="<?= request()->baseUrl(); ?>/cart/delete?id=<?= $product->id; ?>"
                               data-id="<?= $product->id; ?>" title="Delete <?= $product->product->name; ?>"
                               data-name="<?= $product->product->name; ?>" data-return-url="<?= request()->fullUrl(); ?>">
                                <i class="fa fa-trash "></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
    </div>

    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <div>
                <input type="checkbox" name="all_product" id="all_product" class="form-check-input">
                <label for="all_product">All product</label>
            </div>
            <div class="total">
                Total cost: <span id="totalCost">0</span>&#8363;
            </div>
            <div class="btn btn-outline-danger">
                Check out
            </div>
        </div>
    </nav>
</div>
@section cart{
    <link rel="stylesheet" type="text/css" href="~/Content/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/responsive.css">
}

