@model FashionShops.Models.CheckOut.AllNeedForCheckOut
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-5 container_checkout_form" style="margin-top: 150px">
    <div hidden id="userid" data-userid="@Model.infoUserCheckOut.user_id"></div>
    <div class="shadow-sm p-3 mb-3 bg-white rounded border-top">
        <h5>Delivery address</h5>
        <div class="">
            @{
                string nameAndPhone = "";
                nameAndPhone += Model.infoUserCheckOut.firstName + " " + Model.infoUserCheckOut.lastName + " (+84): " + Model.infoUserCheckOut.phoneNumber;
            }
            @if (nameAndPhone.Equals(" (+84): "))
            {
            <p>Your main information is empty, click Change address to add information!</p>
            }
            @nameAndPhone
        </div>
        <div class="">
            @{
                string fullAddress = "";
                fullAddress += Model.infoUserCheckOut.address + ", " + Model.infoUserCheckOut.province + " province, " + Model.infoUserCheckOut.city + " city, " + Model.infoUserCheckOut.country;
            }
            @if (fullAddress.Equals(", province, city, "))
            {
                <p>Your address is empty, click Change address to add information!</p>
            }
            @fullAddress
        </div>
        <a href="/Profile/Index" class="btn btn-outline-warning">Change address</a>
    </div>
    <div class="row no-gutters shadow-sm p-3 mb-3 bg-white rounded border-top">
        <div class="col">
            <a href="#" class="navbar-brand"><i class="fa-solid fa-envelope"></i>ShoeStore</a>
        </div>
    </div>
    <div class="container p-0">
        @{
            float ttP = 0;
        }
        @foreach (var product in Model.infoProductCheckOut)
        {
            ttP += (float)product.total_price;
            <div class="row no-gutters mb-3 border-bottom list-product" data-cartid="@product.cart_id">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <img src="@product.Product.Product_Image.FirstOrDefault().Image.imgae_url" alt="" style="width: 70px; height: 120px;">
                </div>
                <div class="col-9">
                    <div>@product.Product.name</div>
                    <div class="product_classity d-flex justify-content-between">
                        <span>Classify: <span>@product.Color1.color1, @product.Size1.size1</span> </span>
                        <span>x @product.quantity</span>
                    </div>
                    <div class="d-flex justify-content-end">
                        <span class="new_price">&#8363;@product.Product.price</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row no-gutters shadow-sm p-3 bg-white rounded border-top">
        <div class="col d-flex justify-content-between">
            <div><i class="fa-solid fa-file-circle-check"></i>Shop's voucher</div>
            <div>
                <button id="shopsVoucherChosen" class="btn btn-sm btn-outline-warning" disabled>Choose voucher</button>
                <a href="#" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#modalShopsVoucher">
                    <i class="fa-sharp fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="shadow-sm p-3 bg-white rounded border-top">
        <div class="h5 border-bottom">Shopping unit</div>
        <div class="">
            <div id="name-shopping-unit">FashionShops express</div>
            <div id="time-receive-goods">Receive goods on December 29th -> December 31st</div>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <div id="transport-fee-old" class="btn btn-sm btn-outline-warning" style="text-decoration: line-through;" hidden></div>
            <button id="transport-fee-new" class="btn btn-sm btn-outline-warning" disabled>30k</button>
            <a href="#" class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#modalShoppingUnit">
                <i class="fa-sharp fa-solid fa-chevron-right"></i>
            </a>
        </div>
    </div>
    <div class="row no-gutters shadow-sm p-3 bg-white rounded border-top">
        <div class="col">
            <label for="message_from_customer">Message: </label>
            <input type="text" name="" id="" class="form-control">
        </div>
    </div>
    <div class="row no-gutters shadow-sm p-3 mb-3 bg-white rounded border-top">
        <div class="col d-flex justify-content-between align-items-center">
            <div>Total cost <span>(2 products)</span>:</div>
            <div>&#8363;<span id="total-cost" data-totalprice="@ttP">@ttP</span></div>
        </div>
    </div>
    <div class="row no-gutters shadow-sm p-3 mb-3 bg-white rounded border-top">
        <div class="col d-flex justify-content-between align-items-center">
            <div><i class="fa-regular fa-credit-card"></i> Free delivery voucher</div>
            <div>
                <button type="button" id="free-ship-voucher" class="btn btn-sm btn-outline-warning"
                        disabled>
                    freeship
                </button>
                <a href="#" class="btn btn-sm btn-outline-dark" data-toggle="modal"
                   data-target="#modalShoesStoreVoucher">
                    <!-- <span>Choose voucher</span> -->
                    <i class="fa-sharp fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row no-gutters shadow-sm p-3 bg-white rounded border-top">
        <div class="col d-flex justify-content-between align-items-center">
            <div><i class="fa-solid fa-dollar-sign"></i> Choose payment methods</div>
            <div>
                <a href="#" data-toggle="modal" data-target="#modalPaymentMethods" id="name-payment-method" class="btn btn-outline-warning">
                    ShoeStorePay<i class="fa-sharp fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="shadow-sm p-3 mb-3 bg-white rounded border-top">
        <div class="border-bottom"><i class="fa-solid fa-money-check-dollar"></i> Detail payment</div>
        <div>
            <div class="text-left" id="amount-cost" data-price="0"></div>
            <div class="text-left" id="total-shipping-fee" data-price="0"></div>
            <div class="text-left" id="reduce-shipping-cost" data-price="0"></div>
            <div class="text-left" id="total-discount-voucher" data-price="0"></div>
            <div class="text-left" id="total-payment" data-price="0"></div>
        </div>
    </div>
    <div class="row no-gutters shadow-sm p-3 mb-3 bg-white rounded border-top">
        <div class="col d-flex justify-content-between align-items-center">
            <div>
                <i class="fa-solid fa-cash-register"></i> Clicking "Order" means that you agree to abide by our
                terms
            </div>
            <button id="order-submit" class="btn btn-outline-warning">Order</button>
        </div>
    </div>

    <!-- Modal Shop's voucher -->
    <div class="modal fade" id="modalShopsVoucher" tabindex="-1" role="dialog"
         aria-labelledby="modalShopsVoucherTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Shop's voucher</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" id="shop_s_voucher">
                        <div class="form-group mb-3">
                            @foreach (var voucher in Model.voucherAvailable)
                            {
                                <div class="row border shadow-sm p-3 mb-3 bg-white rounded border-top box_voucher">
                                    <div class="col-4">
                                        <img src="~/Content/images/Shoesstore.png" alt="" width="100"
                                             height="100">
                                    </div>
                                    <div class="col-7">
                                        @{
                                            string sales = "";
                                            float sale_per = (float)voucher.discount_percentage * 100;
                                            sales = sale_per + "%";
                                        }
                                        <div>Sale @sales</div>
                                        <div><small>The voucher is limited, use it quickly.</small></div>
                                    </div>
                                    <div class="col-1">
                                        <input type="radio" name="shopsVoucher" id=""
                                               class="form-check-input shopsVoucher-check" data-voucherid="@voucher.voucher_id" value="@voucher.discount_percentage">
                                    </div>
                                </div>
                            }
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Shopping unit-->
    <div class="modal fade" id="modalShoppingUnit" tabindex="-1" role="dialog"
         aria-labelledby="modalShoppingUnitTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalShoppingUnitLongTitle">Shipping Unit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" id="shipping_unit">
                        <div class="form-group mb-3">
                            <div class="row border shadow-sm p-3 mb-3 bg-white rounded border-top box-shipping-unit border-danger">
                                <div class="col-6">
                                    <span class="modal-name-shopping-unit">FashionShops express</span>
                                </div>
                                <div class="col-5">
                                    <span class="modal-transport-fee">&#8363;30k</span>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="shippingUnit"
                                           class="form-check-input shipping-unit-check" id="shopping-unit-first-choose" value="30" checked>
                                </div>
                                <div>
                                    <small class="modal-time-receive-goods">
                                        Receive goods on December 27th ->
                                        December 31st
                                    </small>
                                </div>
                            </div>
                            <div class="row border shadow-sm p-3 mb-3 bg-white rounded border-top box-shipping-unit">
                                <div class="col-6">
                                    <span class="modal-name-shopping-unit">Economical delivery</span>
                                </div>
                                <div class="col-5">
                                    <span class="modal-transport-fee">&#8363;40k</span>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="shippingUnit"
                                           class="form-check-input shipping-unit-check" value="40">
                                </div>
                                <div>
                                    <small class="modal-time-receive-goods">
                                        Receive goods on December 27th ->
                                        December 30st
                                    </small>
                                </div>
                            </div>
                            <div class="row border shadow-sm p-3 mb-3 bg-white rounded border-top box-shipping-unit">
                                <div class="col-6">
                                    <span class="modal-name-shopping-unit">Ninja Van</span>
                                </div>
                                <div class="col-5">
                                    <span class="modal-transport-fee">&#8363;35k</span>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="shippingUnit"
                                           class="form-check-input shipping-unit-check" value="35">
                                </div>
                                <div>
                                    <small class="modal-time-receive-goods">
                                        Receive goods on December 27th ->
                                        December 38st
                                    </small>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal FreeShip voucher -->
    <div class="modal fade" id="modalShoesStoreVoucher" tabindex="-1" role="dialog"
         aria-labelledby="modalShoesStoreVoucher" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalShoesStoreVoucherLongTitle">ShoesStore voucher</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" id="shoesStoreVoucher">
                        <div class="form-group mb-3">
                            <div class="free_ship d-flex flex-column mb-3">
                                <span>Code for free shipping</span>
                                <small>Can choose 1 Voucher</small>
                            </div>
                            <div class="row border shadow-sm p-3 mb-3 bg-white rounded border-top box-free-ship">
                                <div class="col-4">
                                    <img src="~/Content/images/freeShip.png" alt="" width="100" height="100">
                                </div>
                                <div class="col-7">
                                    <div>All forms of payment</div>
                                    <div><small>Minimum order &#8363;0k, 80% Maximum &#8363;40k</small></div>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="voucherFreeShip" id=""
                                           class="form-check-input free-ship-check" value="0.8&40">
                                </div>
                            </div>
                            <div class="row border shadow-sm p-3 mb-3 bg-white rounded border-top box-free-ship">
                                <div class="col-4">
                                    <img src="~/Content/images/freeShip.png" alt="" width="100" height="100">
                                </div>
                                <div class="col-7">
                                    <div>All forms of payment</div>
                                    <div><small>Minimum order &#8363;0k, 100% Maximum &#8363;30k</small></div>
                                </div>
                                <div class="col-1">
                                    <input type="radio" name="voucherFreeShip" id=""
                                           class="form-check-input free-ship-check" value="1&30">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Payment methods-->
    <div class="modal fade" id="modalPaymentMethods" tabindex="-1" role="dialog"
         aria-labelledby="modalPaymentMethods" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPaymentMethodsLongTitle">Payment methods</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" id="paymentMethods">
                        <div class="form-group mb-3">
                            <div class="row border shadow-sm p-3 mb-3 bg-white rounded border-top">
                                <label class="form-label">Choose one:</label>
                                <div>
                                    @{
                                        int firtActive = 1;
                                    }
                                    @foreach (var payment in Model.paymentMethods)
                                    {
                                        if (firtActive == 1)
                                        {
                                            <div href="" class="btn btn-outline-dark mb-1 payment-checkbox active-custom">@payment.name_methods</div>
                                            <input type="radio" name="paymentMethod" id="" class="payment-checkbox-value"
                                                   value="@payment.id" data-name="@payment.name_methods" hidden checked>
                                            firtActive++;
                                            continue;
                                        }
                                        <div href="" class="btn btn-outline-dark mb-1 payment-checkbox">@payment.name_methods</div>
                                        <input type="radio" name="paymentMethod" id="" class="payment-checkbox-value"
                                               value="@payment.id" data-name="@payment.name_methods" hidden>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-dismiss="modal" id="payment-method-confirm">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section checkout{
    <link rel="stylesheet" type="text/css" href="~/Content/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/checkout_style.css">
    <script src="https://kit.fontawesome.com/438b88f6fa.js" crossorigin="anonymous"></script>
    <script src="~/Content/js/checkout.js"></script>
    <script>
        $('#order-submit').click(function () {
            let userid = $('#userid').data('userid');
            let date = new Date();
            let orderid = userid.toString() + date.getDate() + (date.getMonth() + 1) + date.getFullYear() + date.getHours() + date.getMinutes() + date.getSeconds();
            let orderdate = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
            let originprice = $('#amount-cost').data('price');
            let reduceprice = $('#total-discount-voucher').data('price');
            let transpotfee = parseFloat($('#total-shipping-fee').data('price')) - parseFloat($('#reduce-shipping-cost').data('price'));
            let totalprice = $('#total-payment').data('price');
            let voucherid = $('input[name="shopsVoucher"]:checked').data('voucherid');
            if (typeof voucherid === 'undefined') voucherid = 1;
            let arrayProducts = [];
            $('.list-product').each(function () {
                arrayProducts.push($(this).data('cartid'));
            })
            let paymentmethod = $('input[name="paymentMethod"]:checked').val();
            //console.log(paymentmethod);
            //console.log(arrayProducts);
            //console.log(voucherid);
            //console.log(originprice);
            //console.log(orderdate);
            //console.log(orderid);
            $.ajax({
                url: "/CheckOut/OrderDetail",
                type: "POST",
                data: {
                    userid: userid,
                    orderid: orderid,
                    orderdate: orderdate,
                    originprice: originprice,
                    reduceprice: reduceprice,
                    transpotfee: transpotfee,
                    totalprice: totalprice,
                    voucherid: voucherid,
                    arrayProducts: JSON.stringify(arrayProducts),
                    paymentmethod: paymentmethod
                },
                success: function (data) {
                    toastr.success("send successfully!");
                    let urlMain = window.location.href;
                    let positionBackflash = urlMain.indexOf('/', 8);
                    let switchPageUrl = urlMain.substring(0, positionBackflash) + '/CheckOut/OrderList';
                    window.location.href = switchPageUrl;
                },
                error: function () {
                    alert("Error retrieving product details.");
                }
            });
        });
    </script>
}

