@model FashionShops.Models.ProductDetail.ProductDetail

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="super_container">
    <div class="container single_product_container">
        <!-- Image-->
        <div class="row">
            <div class="col-lg-7">
                <div class="single_product_pics">
                    <div class="row">
                        <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                            <div class="single_product_thumbnails">
                                <ul>
                                    <li><img src="@Model.imagesForProduct[1].productUrlImg" alt="" data-image="@Model.imagesForProduct[1].productUrlImg"></li>
                                    <li class="active"><img src="@Model.imagesForProduct[2].productUrlImg" alt="" data-image="@Model.imagesForProduct[2].productUrlImg"></li>
                                    <li><img src="@Model.imagesForProduct[3].productUrlImg" alt="" data-image="@Model.imagesForProduct[3].productUrlImg"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 image_col order-lg-2 order-1">
                            <div class="single_product_image">
                                <div class="single_product_image_background" style="background-image:url(@Model.imagesForProduct[0].productUrlImg)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Discrise-->

            <div class="col-lg-5">
                <div class="product_details">
                    <div class="product_details_title">
                        <h2 class="product-name">
                            @Model.infProduct.productName
                        </h2>
                    </div>
                    <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                        <span class="ti-truck"></span><span>free delivery</span>
                    </div>

<<<<<<< HEAD
                <!-- Price-->
                <div class="original_price"></div>
                <div class="product_price" id="product-price" data-price="@Model.infProduct.productPrice">@Model.infProduct.productPrice&#8363;</div>
                <ul class="star_rating">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
=======
                    <!-- Price-->
                    <div class="original_price"></div>

                    <div class="product_price" id="product-price" data-price="@Model.infProduct.productPrice">@Model.infProduct.productPrice</div>

                    <<<<<<< HEAD
                    <div class="product_price">VNĐ</div>
                    <ul class="star_rating">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>
                    =======
                    <div class="product_price">$</div>
                    <ul class="star_rating">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>
                    >>>>>>> a9f6118a4d007862025c6a84a3976f6292517dec
>>>>>>> c6b8a21941e8b263f784fdcc778873b3961102ef

                    <!-- Color-->
                    <div class="product_color">
                        <span>Select Color:</span>
                        @{
                            int i = 1;
                        }
                        @foreach (var color in Model.colorsForDetailPage)
                        {
                            if (i == 1)
                            {
                                <div class="btn btn-outline-dark color-checkbox active-custom">@color.colorName</div>
                                <input type="radio" name="proColor" id="" class="color-checkbox-value @color.colorName" value="@color.colorID" hidden checked>
                                i++;
                                continue;
                            }
                            <div class="btn btn-outline-dark color-checkbox">@color.colorName</div>
                            <input type="radio" name="proColor" id="" class="color-checkbox-value @color.colorName" value="@color.colorID" hidden>
                        }
                    </div>
                    <div class="product_color">
                        <span>Select Size:</span>
                        @{
                            int j = 1;
                        }
                        @foreach (var size in Model.sizesForDetailPage)
                        {
                            if (j == 1)
                            {
                                <div href="" class="btn btn-outline-dark size-checkbox active-custom">@size.sizeName</div>
                                <input type="radio" name="proSize" id="" class="size-checkbox-value @size.sizeName" value="@size.sizeID" hidden checked>
                                j++;
                                continue;
                            }
                            <div href="" class="btn btn-outline-dark size-checkbox">@size.sizeName</div>
                            <input type="radio" name="proSize" id="" class="size-checkbox-value @size.sizeName" value="@size.sizeID" hidden>
                        }

                    </div>

                    <!-- Quantity-->
                    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                        <span>Quantity:</span>
                        <div class="quantity_selector">
                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <span id="quantity_value">1</span>
                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <!--
                        <button type="submit" class="btn btn-outline-success" id="submitformfrommodal" data-cartid="Model.infProduct.productID">add to cart</button>-->
                        <div class="red_button add_to_cart_button" data-proid="@Model.infProduct.productID" id="addToCartButton">
                            <a href="#">add to cart</a>
                            <!--Html.ActionLink("AddToCart", "AddToCart", new { id = Model.infProduct.productID })-->
                        </div>
                        <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Tabs -->

    <div class="tabs_section_container">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="tabs_container">
                        <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                            <li class="tab active" data-active-tab="tab_1"><span>Description</span></li>
                            <li class="tab" data-active-tab="tab_2"><span>Additional Information</span></li>
                            <li class="tab" data-active-tab="tab_3"><span>Reviews</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <!-- Tab Description -->

                    <div id="tab_1" class="tab_container active">
                        <div class="row">
                            <div class="col-lg-5 desc_col">
                                <div class="tab_title">
                                    <h4>Description</h4>
                                </div>
                                <div class="tab_text_block">
                                    <h2>Brand</h2>
                                    <p>Our products are selected from reputable and quality brands and meet the needs of customers from basic things to fashion.</p>
                                </div>
                                <div class="tab_image">
                                    <img src="@Model.imagesForProduct[1].productUrlImg" alt="">
                                </div>
                                <div class="tab_text_block">
                                    <h2>High Quality</h2>
                                    <p>All of our products are made from high quality materials, ensuring comfort and durability. We always choose the best materials to create the best products for our customers. </p>
                                </div>
                            </div>
                            <div class="col-lg-5 offset-lg-2 desc_col">
                                <div class="tab_image">
                                    <img src="@Model.imagesForProduct[2].productUrlImg" alt="">
                                </div>
                                <div class="tab_text_block">
                                    <h2>Modern style</h2>
                                    <p>We constantly update the latest trends to bring our customers the most fashionable and stylish products. From simple t-shirts to minimalist and elegant dresses, we are always ready to provide you with the products with the most stylish fashion trends.</p>
                                </div>
                                <div class="tab_image desc_last">
                                    <img src="@Model.imagesForProduct[3].productUrlImg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tab Additional Info -->

                    <div id="tab_2" class="tab_container">
                        <div class="row">
                            <div class="col additional_info_col">
                                <div class="tab_title additional_info_title">
                                    <h4>Additional Information</h4>
                                </div>
                                <p>@Model.infProduct.content</p>
                            </div>
                        </div>
                    </div>

                    <!-- Tab Reviews -->

                    <div id="tab_3" class="tab_container">
                        <div class="row">

                            <!-- User Reviews -->

<<<<<<< HEAD
                            <div class="col-lg-6 reviews_col" >
                                <div class="tab_title reviews_title" id="review-quantity">
                                    <h4>Reviews (@Model.reviewings.Count())</h4>
=======
                            <div class="col-lg-6 reviews_col">
                                <div class="tab_title reviews_title" id="review-quantity">
                                    <h4>Reviews (@Model.review.Count())</h4>
>>>>>>> c6b8a21941e8b263f784fdcc778873b3961102ef
                                </div>
                                <div id="customer_reviews">

                                    <!-- User Review -->
<<<<<<< HEAD
                                    @foreach (var review in Model.reviewings)
=======
                                    @foreach (var review in Model.review)
>>>>>>> c6b8a21941e8b263f784fdcc778873b3961102ef
                                    {
                                        <div class="user_review_container d-flex flex-column flex-sm-row">
                                            <div class="user">
                                                <div class="user_pic"></div>
                                                <div class="user_rating">
                                                    <ul class="star_rating">
                                                        @for (int r = 0; r < 5; r++)
                                                        {
                                                            if (r <= review.rating - 1)
                                                            {
                                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                            }
                                                            else
                                                            {
                                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="review">
                                                <div class="review_date">@review.publishedAt</div>
<<<<<<< HEAD
                                                <div class="user_name">@review.User.firstName @review.User.lastName</div>
=======
                                                <div class="user_name">@review.username</div>
>>>>>>> c6b8a21941e8b263f784fdcc778873b3961102ef
                                                <p>@review.content</p>
                                            </div>
                                        </div>
                                    }
                                </div>


                            </div>

                            <!-- Add Review -->

                            <div class="col-lg-6 add_review_col">

                                <div class="add_review">
                                    <form id="review_form" action="post">
                                        <div>
                                            <h1>Please take a moment to rate our products:</h1>
                                        </div>
                                        <div>
                                            <h1>Your Rating:</h1>
                                            <ul class="user_star_rating">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            </ul>
<<<<<<< HEAD
                                            <input type="text" name="rate" id="rate" value="4" hidden/>
=======
                                            <input type="text" name="rate" id="rate" value="4" hidden />
>>>>>>> c6b8a21941e8b263f784fdcc778873b3961102ef
                                            <textarea id="review_message" class="input_review" name="message" placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea>
                                        </div>
                                        <div class="text-left text-sm-right">
                                            <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">submit</button>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Benefit -->

    <div class="benefit">
        <div class="container">
            <div class="row benefit_row">
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>free shipping</h6>
                            <p>Suffered Alteration in Some Form</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>cach on delivery</h6>
                            <p>The Internet Tend To Repeat</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>45 days return</h6>
                            <p>Making it Look Like Readable</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>opening all week</h6>
                            <p>8AM - 09PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

@section detail{
    <script src="~/Content/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Content/js/single_custom.js"></script>
    <link rel="stylesheet" href="~/Content/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/single_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/single_responsive.css">
    <style>
        .active-custom {
            color: #fff;
            background-color: #343a40;
            border-color: #343a40;
        }
    </style>
    <script>
<<<<<<< HEAD
=======

>>>>>>> c6b8a21941e8b263f784fdcc778873b3961102ef
        $(document).ready(function () {
            $(document).on('click', '.add_to_cart_button', function (event) {
                event.preventDefault();
                let productID = $(event.currentTarget).data("proid");
                let proColor = $('input[name=proColor]:checked').val();
                let proSize = $('input[name=proSize]:checked').val();
                let quantity = parseInt($('#quantity_value').text());
                let price = $('#product-price').data('price');
                let totalPrice = price * quantity;
                $.ajax({
                    url: "/Product/AddToCart",
                    type: "POST",
                    data: {
                        product_id: productID,
                        size: proSize,
                        color: proColor,
                        quantity: quantity,
                        total_price: totalPrice
                    },
                    success: function (response) {
                        if (response == 'error') {
                            toastr.error('You must sign in before adding products to cart');
                        } else {
                            CheckoutItems();
                            toastr.success('Product added to cart successfully');
                        }
                    },
                    error: function () {
                        toastr.error('An error occurred while adding product to cart');
                    }
                });
            })
        });
    </script>
    <script>
        let colorCheckbox = document.querySelectorAll('.color-checkbox');
        let colorValue = document.querySelectorAll('.color-checkbox-value');
        let sizeCheckbox = document.querySelectorAll('.size-checkbox');
        let sizeValue = document.querySelectorAll('.size-checkbox-value');
        function checkRadio(check, checkValue) {
            let j = 0;
            let boolChecked = false;
            for (; j < check.length; j++) {
                if (check[j].classList.contains('active-custom')) {
                    boolChecked = true;
                }
            }
            if (!boolChecked) {
                check[0].classList.add('active-custom');
                checkValue[0].checked = true;
            }
        }


        colorCheckbox.forEach(function (item, index) {
            item.addEventListener('click', function (event) {
                item.classList.toggle('active-custom');
                checkRadio(colorCheckbox, colorValue);
                if (item.classList.contains('active-custom')) {
                    colorValue[index].checked = true;
                    var i = 0;
                    for (; i < colorCheckbox.length; i++) {
                        if (i == index) continue;
                        colorCheckbox[i].classList.remove('active-custom');
                    }
                }
                else {
                    colorValue[index].checked = false;
                }
            })
        })

        sizeCheckbox.forEach(function (item, index) {
            item.addEventListener('click', function (event) {
                item.classList.toggle('active-custom');
                checkRadio(sizeCheckbox, sizeValue);
                if (item.classList.contains('active-custom')) {
                    sizeValue[index].checked = true;
                    var i = 0;
                    for (; i < sizeCheckbox.length; i++) {
                        if (i == index) continue;
                        sizeCheckbox[i].classList.remove('active-custom');
                    }
                }
                else {
                    sizeValue[index].checked = false;
                }
            })
        })
    </script>
    <script>
        function rating() {
            if ($('.user_star_rating li').length) {
                var stars = $('.user_star_rating li');

<<<<<<< HEAD
                stars.each(function () {
                    var star = $(this);
=======
    <script>
        function rating() {
            if ($('.user_star_rating li').length) {
                var stars = $('.user_star_rating li');

                stars.each(function () {
                    var star = $(this);

                    star.on('click', function () {
                        var i = star.index();
                        $('#rate').val(i + 1);
                    });
                });
            }
        }
        rating();
        $('#review_submit').click(function (ele) {
            ele.preventDefault();
            let productid = $('#addToCartButton').data('proid');
            let rate = $('#rate').val();
            let content = $('#review_message').val();
            console.log(productid);
            console.log(rate);
            console.log(content);
            $.ajax({
                url: "/Product/AddReview",
                type: "POST",
                data: {
                    productid: productid,
                    rate: rate,
                    content: content
                },
                success: function (data) {
                    toastr.success(data);
                    $('#customer_reviews').empty().load('/Product/Detail?id=' + productid + ' #customer_reviews');
                    $('#review-quantity').empty().load('/Product/Detail?id=' + productid + ' #review-quantity');
                    $('#review_message').val('');
                },
                error: function () {
                    alert("Error retrieving product details.");
                }
            });

        })

    </script>
}
>>>>>>> c6b8a21941e8b263f784fdcc778873b3961102ef

                    star.on('click', function () {
                        var i = star.index();
                        $('#rate').val(i + 1);
                    });
                });
            }
        }
        rating();
        $('#review_submit').click(function (ele) {
            ele.preventDefault();
            let productid = $('#addToCartButton').data('proid');
            let rate = $('#rate').val();
            let content = $('#review_message').val();
            console.log(productid);
            console.log(rate);
            console.log(content);
            $.ajax({
                url: "/Product/AddReview",
                type: "POST",
                data: {
                    productid: productid,
                    rate: rate,
                    content: content
                },
                success: function (data) {
                    toastr.success(data);
                    $('#customer_reviews').empty().load('/Product/Detail?id=' + productid + ' #customer_reviews');
                    $('#review-quantity').empty().load('/Product/Detail?id=' + productid + ' #review-quantity');
                    $('#review_message').val('');
                },
                error: function () {
                    alert("Error retrieving product details.");
                }
            });
        })

    </script>
}